# Node & Python dependencies
node_modules/
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual environment
.env
.venv/
venv/

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Compiled files
*.pyc
*.pyo
*.pyd

# Testing
coverage/
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/

# IDEs/editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Env files
.env
.env.*.local
